body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .maincontainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    max-width: 500px;
    min-width: 300px;
    width: 100%;
  }
  
  .innercontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #weight,
  #height {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  #buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1;
  }
#btn1{
  margin-right: 30px;
}
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h4{
    padding-left: 30px;
  }

/* hello.css */
.title{
   text-align: center; 
   font-style: italic;
}
.result{
  text-align: center;
  align-items: center;
}

/* button design */
#buttonp {
  padding-top: 20px;
  background-color: white;
  border-radius: 10%;
  box-shadow:2px 1px  ;
  color: black;
  font-size: 15px;
}
#buttonp:hover{
  box-shadow:4px 3px;
  font-size: 17px;
}
.page{
  display: flex;
  flex-direction: row;
  gap: 15px;  
}